body {
  color: white;
  background: url("./images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  background-size: cover;
  font-family: 'MyWebFont', Fallback, sans-serif;
 }

 .container {
   top: 70px;
   position: relative;
   color: white;
   text-align: center;
 }

 .navBar {
   left: -5px;
   text-align: left;
   overflow: hidden;
   position: fixed;
   top: -5px;
   height: 50px;
   width: 50%;
   z-index: 10;
}

.links a {
  text-align: center;
  display: inline-block;
  background-color: gray;
  color: black;
  width: 10%;
  padding: 15px 30px;
  border-radius: 0px 0px 30px 30px;
  border-style: solid;
  border-color: #595959;
  border-width: thin;
  margin: 0px -10px;
  transition: 0.5s ease-out;
}

.links a:hover {
  height: 20px;
  font-weight: bold;
  background-color: #595959;
  border-color: gray;
  border-radius: 0px 0px 20px 20px;
  transition: 0.5s;
}

#home-link {
  position: fixed;
  z-index: 5;
}

#projects-link {
  left: 12%;
  position: fixed;
  z-index: 4;
}
#contact-link {
  left: 24%;
  position: fixed;
  z-index: 3;
}

#home-link:hover,
#projects-link:hover,
#contact-link:hover {
  z-index: 6;
}

#proj-nav {
  text-align: left;
  float: left;
  display: block
}

#proj-nav a {
  color: black;
  font-size: 1.5em;
  margin: 5px 5px 5px -8px;
  padding: 10px 30px;
  display: inline-block;
  transition: 1s ease-out;
}

#proj-nav a:hover {
  background-color: white;
  opacity: 0.5;
  border-radius: 0px 30px 30px 0px;
  transition: 1s;
}

#proj-content {
  float: left;
}

  .one.column,
  .one.columns                    { width: 8%; }
  .two.columns                    { width: 16%; }
  .three.columns                  { width: 24%;            }
  .four.columns                   { width: 33%; }
  .five.columns                   { width: 41%; }
  .six.columns                    { width: 49%;            }
  .seven.columns                  { width: 58%; }
  .eight.columns                  { width: 66%; }
  .nine.columns                   { width: 74%;          }
  .ten.columns                    { width: 83%; }
  .eleven.columns                 { width: 91%; }
  .twelve.columns                 { width: 99%; margin-left: 0; }


  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}
