* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background: url("./images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  background-size: cover;
  /*font-family: 'MyWebFont', Fallback, sans-serif;*/
  font-family: 'Merienda';
 }

 a {
   text-decoration: none;
 }

 h1 {
   text-shadow: 1px 1px black;
 }

 .container {
   top: 70px;
   position: relative;
   color: white;
   text-align: center;
 }

 .homeContent,
 .contact,
 .about,
 #proj-content {
   margin-top: 80px;
 }

 .navBar {
   left: -5px;
   text-align: left;
   overflow: hidden;
   position: fixed;
   top: -5px;
   height: 50px;
   width: 50%;
   z-index: 10;
   opacity: 0.75;
}

.links a {
  position: fixed;
  text-align: center;
  display: inline-block;
  background-color: gray;
  color: white;
  width: 7.5%;
  padding: 15px 30px;
  border-radius: 0px 0px 30px 30px;
  border-style: solid;
  border-color: #595959;
  border-width: thin;
  margin: 0px -10px;
  transition: 0.5s ease-out;
  box-shadow: 1px 0px black;
}

.links a:hover {
  height: 30px;
  background-color: #595959;
  border-radius: 0px 0px 20px 20px;
  text-transform: uppercase;
  text-shadow: 1px 1px black;
  transition: 0.5s;
  box-shadow: 1px 1px black;
}

#profile-pic img {
  margin: 5% auto;
  width: 15%;
  height: 15%;
  border-radius: 50%;
}

#home-link {
  z-index: 5;
}

#projects-link {
  left: 10%;
  z-index: 4;
}

#about-link {
  left: 20%;
  z-index: 3;
}

#contact-link {
  left: 30%;
  z-index: 2;
}

#home-link:hover,
#projects-link:hover,
#about-link:hover,
#contact-link:hover {
  z-index: 6;
}

#proj-nav {
  text-align: left;
  float: left;
  display: block;
}

#proj-nav a {
  width: 60%;
  color: white;
  font-size: 1.5em;
  margin: 0px 20px 0px -8px;
  padding: 10px 30px 10px 30px;
  display: inline-block;
  transition: 1s ease-out;
}

#proj-nav a:hover {
  color: black;
  background-color: white;
  opacity: 0.5;
  border-radius: 0px 30px 30px 0px;
  transition: 1s;
}

#proj-content {
  float: left;
}

#myName {
  color: #ff4d4d;
}

  .one.column,
  .one.columns                    { width: 8%; }
  .two.columns                    { width: 16%; }
  .three.columns                  { width: 24%;            }
  .four.columns                   { width: 33%; }
  .five.columns                   { width: 41%; }
  .six.columns                    { width: 49%;            }
  .seven.columns                  { width: 58%; }
  .eight.columns                  { width: 66%; }
  .nine.columns                   { width: 74%;          }
  .ten.columns                    { width: 83%; }
  .eleven.columns                 { width: 91%; }
  .twelve.columns                 { width: 99%; margin-left: 0; }


  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}
