body {
  color: white;
  background-image: url("./images/background.jpg");
  background-position: top;
  background-repeat: no-repeat;
  display:block;
  font-family: 'MyWebFont', Fallback, sans-serif;
 }

 .navBar {
   overflow: hidden;
   background-color: white;
   opacity: 0.5;
   position: relative;
   top: 0;
   width: 100%;
   margin-bottom: 10px;
   color: black;
}

.navBar a {
  text-align: center;
  display: inline-block;
  background-color: yellow;
  color: green;
  padding: 10px 20px;
  margin: 20px;
}

.navBar p {
  color: black;
}

 .header {
   top: 100px;
   color: black;
   text-align: center;
   height: 80px;
   width: 100%;
   background: white;
   margin-top: 10px;
   margin-bottom: 10px;
   position: relative;
   opacity: 0.5;
 }

 .homeContent {
   color: black;
   text-align: center;
   background-color: white;
   height: 500px;
   position: relative;
 }
/*
.columns {
  top: -200px;
  width: 100%;
  float: left;
  box-sizing: border-box;
  display: block;
 }*/

  .one.column,
  .one.columns                    { width: 8.33333333333%; }
  .two.columns                    { width: 16.6666666667%; }
  .three.columns                  { width: 25%;            }
  .four.columns                   { width: 33.3333333333%; }
  .five.columns                   { width: 41.6666666667%; }
  .six.columns                    { width: 50%;            }
  .seven.columns                  { width: 58.3333333333%; }
  .eight.columns                  { width: 66.6666666667%; }
  .nine.columns                   { width: 75.0%;          }
  .ten.columns                    { width: 83.3333333333%; }
  .eleven.columns                 { width: 91.6666666667%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}
